<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.biu.ufo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="org.biu.ufo.MainApplication_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- OpenXC services -->
        <service android:name="com.openxc.VehicleManager" />
        <service
            android:name="com.openxc.remote.VehicleService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.openxc.remote.VehicleServiceInterface" />
            </intent-filter>
        </service>

        <!-- UFO services -->
        <service android:name="org.biu.ufo.settings.PreferenceManagerService_" />
        <service android:name="org.biu.ufo.services.CarGatewayService_" />
        <service android:name="org.biu.ufo.services.UfoMainService_" />
        <service android:name="org.biu.ufo.services.AlwaysListeningSpeechRecognizerService_" />
        <service android:name="org.biu.ufo.ui.popups.FuelNextPopup_"  />
        
        <!-- Receivers -->
<!--         <receiver android:name="org.biu.ufo.receivers.BootupReceiver" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
<!--             </intent-filter> -->
<!--         </receiver> -->
        <receiver android:name="org.biu.ufo.receivers.BluetoothReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                </intent-filter>
        </receiver>

        <!-- Activities -->
        <activity
            android:name="org.biu.ufo.ui.activities.SettingsActivity"
            android:label="@string/settings" >
        </activity>
               
        <activity
            android:name="org.biu.ufo.ui.activities.MainActivity_"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       	<activity android:name="org.biu.ufo.ui.activities.PopupActivity_"
       	    android:windowSoftInputMode="stateHidden"
       	    android:launchMode="singleInstance"
       	    android:configChanges="orientation"
       	    android:excludeFromRecents="true"
       	    android:enabled="true"
       	    android:theme="@style/Theme.FloatingDialog" />
        
        <activity
            android:name="org.biu.ufo.ui.activities.MainActivityLegacy_"
            android:label="@string/title_activity_main_old" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyADEMWjwQUtoEb_Cy2bLMInfGvDe2wB-pg" />

    </application>

</manifest>